{% extends 'base.html' %} {% block title %}Pets{% endblock %} {% block content
%}
<div class="container my-3">
	{% if not pets %}
	<div class="alert alert-warning">There are no pets to display</div>
	{% else %}
	<div class="container my-3">
		<h1 class="display-3">Available Pets</h1>

		<div class="row row-cols-3">
			{% for pet in pets %} {% if pet.available %}
			<div class="card-group">
				<div class="col mb-4">{% include "available_pets.html" %}</div>
			</div>
			{% endif %} {% endfor %}
		</div>
	</div>
	<hr class="my-4" />
	<div class="container my-3">
		<h1 class="display-3">Unavailable Pets</h1>
		<div class="row row-cols-3">
			{% for pet in pets %} {% if not pet.available %}

			<div class="card-group">
				<div class="col mb-4">{% include "unavailable_pets.html" %}</div>
			</div>
			{% endif %} {% endfor %}
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}
